/* style the image to look like a playing card with rounded corners */
.tarot-card {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  padding: 5px;
  width: 200px;
  height: 300px;
  margin: 5px;
  /* float: left; */
  background-color: white;
}

/* make the name of the card appear under the image but make sure it doesn't create a break forcing the next tarot image to appear below it */
.tarot-name {
  /* display: inline-block; */
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.tarot-function {
  /* make the text look like a title */
  font-weight: bold;
  font-size: 2em;
}