/* style the image to look like a playing card with rounded corners */
.tarot-card {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
  padding: 5px;
  width: 200px;
  height: 300px;
  margin: 5px;
  float: left;
  background-color: white;
}